/*.container {
	height: 100vh;
	background-color: #646464;
	color: #ffffff;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	width: 100vw !important;
}
h1 {
	width: 100vw;
	padding: 40px;
}
h4 {
	text-align: left;
}
button {
	width: 30vw;
	margin-left: calc(50% - 15vw);
}
.close {
	width: 2vw;
	-webkit-appearance: none;
}
.modal-body {
	text-align: center;
}